# Um outro Jupyter Notebook
## Mais um belo Jupyter Notebook

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.rand(5,5)

In [3]:
data

array([[0.5554333 , 0.47114351, 0.75884954, 0.75679624, 0.66152006],
       [0.57381628, 0.58833689, 0.1153196 , 0.64620683, 0.7835084 ],
       [0.57198748, 0.09559055, 0.8504211 , 0.74747914, 0.64629112],
       [0.94119807, 0.38777396, 0.12412193, 0.94675751, 0.27486081],
       [0.36101361, 0.94562195, 0.94743764, 0.8837294 , 0.85107838]])

In [4]:
df = pd.DataFrame(data=data, columns=['A', 'B', 'C',  'D', 'E'])

In [5]:
df

          A         B         C         D         E
0  0.555433  0.471144  0.758850  0.756796  0.661520
1  0.573816  0.588337  0.115320  0.646207  0.783508
2  0.571987  0.095591  0.850421  0.747479  0.646291
3  0.941198  0.387774  0.124122  0.946758  0.274861
4  0.361014  0.945622  0.947438  0.883729  0.851078